

/*ホーム専用*/
 


@media only screen and (min-width: 1000px){
    
    /*-----------------ヘッダー設定-------------------*/
    header{
        background: #37474F;
    }


    .main-header{
        width: 1700px;
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }

    .header-icon{
        width: 35px;
        border-radius: 3px;
    }

    #header-start{
        display: flex;
        align-items: center;
        padding: 10px 10px;
    }

    #header-end{
        display: flex;
        align-items: center;
        padding: 10px 0;
        color: #fff;
        font-size: 1.0rem;
        line-height: 1.4;
        text-shadow: 1px 1px 3px #000;
        font-weight: 700;
        padding: 10px 10px;
    }

    #title{
        margin-left: 10px;
        color: #fff;
        font-size: 1.0rem;
        line-height: 1.4;
        text-shadow: 1px 1px 3px #000;
        font-weight: 700;
    }

    /*--------------ナビメニュー---------------------*/
    #global_nav{
        background: #37474F;
        display: flex;
        justify-content: center;
        
    }

    .global_nav_item_wrapper{
        width: 1700px;
        display: flex;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.8;
    }

    .global_nav_item {
        display: inline-block;
        padding-bottom: 4px;
        position: relative;
      }
      
      .global_nav_item::after {
        background-color: rgb(255, 255, 255);
        color: #fff;
        bottom: 0;
        content: '';
        display: block;
        height: 3px;
        left: 0;
        position: absolute;
        transition: .5s all;
        width: 0;
      }
      .global_nav_item:hover{
        color: #fff;
      }
      
      .global_nav_item:hover::after {
        width: 100%;
        
      }
      

    .global_nav_item{
        color: rgb(189, 188, 188);
        padding: 8px 16px;
        position: relative;
        white-space: nowrap;
    }

    body { 
        font-family: Hiragino Kaku Gothic Pro,"ヒラギノ角ゴ Pro W3",Meiryo,"メイリオ",Meiryo,"メイリオ",Osaka,MS PGothic,arial,helvetica,sans-serif;
        line-height: 1.6;
        font-size: 13px;
        background: #F2F2F2; 
    }

    /*--------------全体設定-----------------*/
    .main_content_wrap{
        margin: 0 auto;
        max-width: 1020px;
        display: flex;
    }



    /*-----------投稿カード設定-------------*/

    .username_data{
        display: flex;
    }

    .post-info{
        display: flex;
        justify-content: space-between;
    }

    .char_wrap{
        display: flex;
    }

    
    .post_section_wrap{
        width: 700px;
        margin-left: 30px;
    }

    .post_section{
        padding: 14px 14px;
        background-color: #fff;
        margin: 10px 0;
    }

    .created_data_p{
        color: rgba(0,0,0,0.6);
        font-size: 14px;
        margin-left: 4px;
    }

    .post_title_wrap{
        margin: 5px 10px 10px 10px;
    }

    .post_title_h2{
        overflow: hidden;
        font-size: 18px;
        font-weight: 600;
        color: rgba(0,0,0,0.87);
        line-height: 1.4;
    }

    /*------------レシピ設定------------------*/

    .combo_len{
        background-color: #ededee;
        margin: 5px 20px 5px 10px;
        border-radius: 5px;
    }

    .combo_len_p{
        /*領域を超えて表示した場合に末尾を(・・・)に変換する設定*/
        overflow: hidden;
        text-overflow: ellipsis; 
        white-space: nowrap;
        
        padding: 10px 10px;
    }


    /*--------フォーム設定---------*/
    .post_form_section{
        padding: 14px 14px;
        background-color: #fff;
        margin: 10px 0;
    }

    .post_form_h2{
        color: #333;
        padding: 10px 16px 16px;
        font-size: 22px;
        font-weight: 700;
        border-bottom: 1px solid #ebebeb;
        line-height: 1;
    }


    .post_form_h2::before{
        display: inline-block;
        width: 4px;
        height: 16px;
        margin-right: 12px;
        background-color: #1a75ff;
        border-radius: 2px;
        content: "";
    }


    .post_form_char{
        display: flex;
        justify-content: center;
        height: 25px;
        margin: 20px 10px 10px;
    }


    /*------------タグ設定------------------*/
    .post_tag_container{
        display: flex;
        
    }

    .tag_flex_wrap{
        display: flex;
        justify-content: space-between;
        margin: 10px 30px 10px 10px
        
    }

    .damage{
        font-size: 12px;
    }

    #damage_textarea{
        margin: -3px 10px 0 10px;
        padding: 1px;
        width: 100px;
        height: 30px;
    }

    .post_tag_wrap{
        margin-right: 7px;
    }

    .post_tag{

        color: #39739D;
        font-size: 12px;
        background-color: #E1ECF4;
        border-radius: 5px;
        padding: 1px 3px 0px 3px;
    }

    .fa-tags{
        font-size: 16px;
        color: rgba(0,0,0,0.6);
        margin: 2px 7px 0 0;
    }


    /*------------フッター設定-------------*/
    footer {
        background: rgb(68,68,68);
        text-align: center;
        padding: 26px;
        width: 100%;
    }
    
    footer p {
        color: white;
        font-size: 0.8rem;
    }
    /*--------------テキストエリア-----------------*/
    textarea {
        padding: 3px!important;
        resize: none;
        border: 1px solid rgba(0,0,0,0.3);
        border-radius: 3px!important;
    }

    #combo_content{
        width: 550px;
        height: 30px;
    }

    /*--------------ボタン設定--------------------*/
    .combo_button {
        text-align: center;
        width: 100px;
        color: #fff;
        border-radius: 5px;
        background-color: #eb6100;
        border-bottom: 5px solid #b84c00;
        -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
        box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
      }
    .combo_button:hover {

        margin-top: 3px;
        color: #fff;
        background: #f56500;
        border-bottom: 2px solid #b84c00;
    }

    /*----------------セレクトボックス------------------------*/
    
    .cp_ipselect {
        overflow: hidden;
        width: 200px;
        margin: -3px 30px 0 10px;
        text-align: center;
    }
    .cp_ipselect select {
        width: 200px;
        padding-right: 1em;
        cursor: pointer;
        text-indent: 0.01px;
        text-overflow: ellipsis;
        border: none;
        outline: none;
        background: transparent;
        background-image: none;
        box-shadow: none;
        -webkit-appearance: none;
        appearance: none;
    }
    .cp_ipselect select::-ms-expand {
        display: none;
    }
    .cp_ipselect.cp_sl01 {
        position: relative;
        border: 1px solid #bbbbbb;
        border-radius: 2px;
        background: #ffffff;
    }
    .cp_ipselect.cp_sl01::before {
        position: absolute;
        top: 0.8em;
        right: 0.9em;
        width: 0;
        height: 0;
        padding: 0;
        content: '';
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid #666666;
        pointer-events: none;
    }
    .cp_ipselect.cp_sl01 select {
        padding: 8px 38px 8px 8px;
        color: #666666;
    }


    }
    
    
    
@media only screen and (max-width: 999px){
}